<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="path">c:/tradeApp/logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
				>
			</PatternLayout>
		</Console>
		<File name="App-Appender" fileName="${path}/system.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		<File name="Trade-Appender" fileName="${path}/tradeApp.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		<File name="Cache-Appender" fileName="${path}/cache.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		<File name="SpringBoot-Appender"
			fileName="${path}/springboot_log.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		<RollingFile name="RollingFile">
			<FileName>${path}/tradeAppRolling.log</FileName>
			<FilePattern>C:/log/time-based-logs/%d{yyyy-MM-dd-hh-mm}.log.zip
			</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} -
					%msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="7" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.xxx" level="info">
			<AppenderRef ref="Trade-Appender" />
		</Logger>
		<Logger name="com.qrtz.cache" level="info">
			<AppenderRef ref="Cache-Appender" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console-Appender" />
			<AppenderRef ref="App-Appender" />
		</Root>
	</Loggers>
</Configuration>